@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --primary-blue: #3786FB;
}

/* Custom Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-blue)
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    scrollbar-color: var(--primary-blue);
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
    scrollbar-color: var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 30px;
    border: 3px solid var(--primary-blue);
}

/* Custom Scrollbar */

.tab-selected {
    border-color: var(--primary-blue) !important;
    color: var(--primary-blue);
}


.slide1{
    background-image: url('./assets/cloudy.jpg');
}
.slide2{
    background-image: url('./assets/sky.jpg');
}
.slide3{
    background-image: url('./assets/skies.jpg');
}